	/*Custom CSS Overrides*/
	
	body {
	    font-family: 'Lato', sans-serif !important;
	    background-color: transparent !important;
	}
	* {
	    margin: 0;
	    padding: 0;
	}
	html {
	    background: url(../images/page.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	#logo {
	    max-width: 1020px;
	    width: 100%;
		margin: 20px auto;
	}	
	#logo img {
	    max-width: 1020px;
	    width: 100%;
	}
	#page-wrap {
	    max-width: 1020px;
	    width: 100%;
		margin: 30px auto;
		padding: 20px;
		background: white;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px black;
		box-shadow: 0 0 20px black;
	}
	p {
	    padding: 5px 0px 5px 0px;
	    font-size: 14px;
	    line-height: 1.5em;
	    display: block;
	    color: #000000;
	}
	a {
	    font-size: 14px;
	    outline: none;
	    color: #000000;
	    text-decoration: underline;
	}
	a:hover {
	    text-decoration: underline;
	    color: #ff0000;
	}
	
	/* DivTable.com */
	.divTable{
		display: table;
		width: 100%;
	}
	.divTableRow {
		display: table-row;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
	}
	.divTableCell, .divTableHead {
		border: 0px;
		display: table-cell;
		padding: 3px 10px;
		vertical-align: top;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
    
    #menu {
        max-width: 1060px;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
    }
    
    #menu ul {
      list-style: none;
      background-color: #fff;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    #menu li {
      font-family: 'Oswald', sans-serif;
      font-size: 1.2em;
      line-height: 40px;
      height: 40px;
      width: 25%;
      border-bottom: 1px solid #888;
      display: block;
      float: left;
    }
     
    #menu a {
      text-decoration: none;
      color: #000;
      background-color: #fff;
      display: block;
      transition: .3s background-color;
    }
     
    #menu a:hover {
      color: #fff;
      background-color: #005f5f;
    }
     
    #menu a.active {
      background-color: #fff;
      color: #444;
      cursor: default;
    }